FLASK_ENV=development
FLASK_APP=run.py
SECRET_KEY=change-this-to-a-random-string
FIREBASE_KEY_PATH=./firebase-key.json
RETELL_API_KEY=
RETELL_API_BASE_URL=https://api.retellai.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=
SENDER_PASSWORD=
PORT=5000
